<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
string="Hello world"
a=len(string)
print(a)

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
sstring="google.com,"
freq = {}  
for i in sstring:
    if i in freq:
        freq[i]
        freq[i]+= 1
    else:
        freq[i] = 1
        
print(freq)

(3) Write a Python program to sum all the items in a list. (4 points)

In [32]:
# write your answer here
l=[1,2,3]
s=0
for i in range(0,len(l)):
    s=s + l[i]
    
print(s)

6

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [43]:
# write your answer here
s="restart"
a=s[0]
s1=s.replace(a,'$')
s2=a+s1[1::]
print(s2)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [52]:
# write your answer here
a=int(input('enter first parameter:'))
b=int(input('enter second parameter:'))
pi=3.14
x=(1+a/b)**3
S=pi*x
print(S)

enter first parameter: 1
enter second parameter: 2

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [53]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic={}
for i in (dic1,dic2,dic3):
    dic.update(i)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [62]:
# write your answer here
ptuple=('k','s','d',1,9)
for i in range(0,len(ptuple)):
    if ptuple[i]=='k':
        print('yes')

yes

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [64]:
# write your answer here
q={1,2,3,4,5}
m=max(q)
n=min(q)
print(m)
print(n)

5
1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [76]:
# write your answer here
import random 
from itertools import islice 
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
L=len(student_list)
L1 = []
for i in range(6):
    L1.append(random.randint(4,6))
    for i in range(6):
        if sum(L1)!=len(student_list):
            if L1[i]==4 or L1==6:
                L1[i]=L1[i]+1
            else:
                break

Input = iter(student_list) 
Output = [list(islice(Input, j)) for j in L1] 
print("Input list :", student_list )
print("output list", Output)

Input list : ['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229', 'kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141', 'jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458', 'sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640', 'sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500', 'aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']
output list [['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229', 'kg0569'], ['kg0470', 'sg1297', 'bg0320', 'fh0141', 'jl1252', 'sk1386'], ['ak0956', 'sk1390', 'sk1458', 'sk1313'], ['ak0934', 'vm0377', 'nm0618', 'sm1640', 'sm1907'], ['gn0108', 'pr0353', 'dr0609', 'ms1500', 'aos0040'], ['ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [107]:
# write your answer here
a=[1,2,3,4,5,5,6,7,7]
b=set()
w=-1
for i in range(0,len(a)):
    if a[i] in b:
        print(a[i])
    else:
        b.add(a[i])
        
        
        
        
print(w)

5
7
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [111]:
# write your answer here
from datetime import date, timedelta,datetime

sunndays = list()

year_var = datetime.now()
year_var = year_var.year 
d = date(year_var, 1, 1) 
d += timedelta(days=6 - d.weekday())
sunndays.append(str(d.strftime('%d-%m-%Y')))
while d.year == year_var:
    d += timedelta(days=7)
    sunndays.append(str(d.strftime('%d-%m-%Y')))

print(sunndays)

['02-01-2022', '09-01-2022', '16-01-2022', '23-01-2022', '30-01-2022', '06-02-2022', '13-02-2022', '20-02-2022', '27-02-2022', '06-03-2022', '13-03-2022', '20-03-2022', '27-03-2022', '03-04-2022', '10-04-2022', '17-04-2022', '24-04-2022', '01-05-2022', '08-05-2022', '15-05-2022', '22-05-2022', '29-05-2022', '05-06-2022', '12-06-2022', '19-06-2022', '26-06-2022', '03-07-2022', '10-07-2022', '17-07-2022', '24-07-2022', '31-07-2022', '07-08-2022', '14-08-2022', '21-08-2022', '28-08-2022', '04-09-2022', '11-09-2022', '18-09-2022', '25-09-2022', '02-10-2022', '09-10-2022', '16-10-2022', '23-10-2022', '30-10-2022', '06-11-2022', '13-11-2022', '20-11-2022', '27-11-2022', '04-12-2022', '11-12-2022', '18-12-2022', '25-12-2022', '01-01-2023']