<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
import random
Numlist=random.sample(range(1,100),12)
Numlist.sort()
print(Numlist)
Numlist.sort(reverse=True)
print(Numlist)
from statistics import mean
Numlist_avg=mean(Numlist)
print(Numlist_avg)

[7, 18, 44, 46, 54, 55, 59, 70, 72, 73, 90, 92]
[92, 90, 73, 72, 70, 59, 55, 54, 46, 44, 18, 7]
56.666666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [1]:
# Your code here
import string
import re
s1=input('enter first sentence:')
s2=input('enter second sentence:')
print(s1,s2)
s3=re.findall(r"[\w']+|[.,!?;:]", s1)
s4=re.findall(r"[\w']+|[.,!?;:]", s2)
print(s3)
print(s4)
for word in s3:
    for other in s4:
        if word.lower()==other.lower():
            print(word)
for word in s3:
    for other in s4:
        if word.lower() == other.lower() and word not in string.punctuation:
            print(word)
vowels = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
for letter in s1:
    if letter.lower() in vowels:
        vowels[letter.lower()] += 1
    print("\nVowel frequency ",vowels)

enter first sentence: hello world
enter second sentence: I am iron man ,;;;.

hello world I am iron man ,;;;.
['hello', 'world']
['I', 'am', 'iron', 'man', ',', ';', ';', ';', '.']

Vowel frequency  {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 0, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 0, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 0, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 1, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 1, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 1, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 2, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 2, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 2, 'u': 0}

Vowel frequency  {'a': 0, 'e': 1, 'i': 0, 'o': 2, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [2]:
# Your code here
print("r         V")
for r in range(1,11):
    V0=4/3*3.1416*r*r*r
    print(r,"\t",V0)

r         V
1 	 4.1888
2 	 33.5104
3 	 113.09759999999997
4 	 268.0832
5 	 523.6
6 	 904.7807999999998
7 	 1436.7584
8 	 2144.6656
9 	 3053.6352
10 	 4188.8

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [3]:
# Your code here
import pandas as pd
import statistics
house = pd.read_csv('Assignment1_denton_housing.csv')
print('shape: ',house.shape)
house.head()

shape:  (42, 3)

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [4]:
#(1)
occuped_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
diff_house = [list(occuped_houses['value'].values)[loop1] - list(occuped_houses['value'].values)[loop1+1]\
             for loop1 in range(len(occuped_houses)-1)]
diff_house = sorted(diff_house)
diff_house

[-5091, -2622, -1565, -1404, 303, 795]

In [5]:
#(2)
unique_years = sorted(list(house['year'].unique()))   # legging list of unique year number
occuped_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
vacant_houses = house[house['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occuped_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df

,year,Vacant House,Occupied House,Percent of Vacant House,Percent of Occupied House
0,2008,4483,36711,10.882653,89.117347
1,2009,3583,35916,9.071116,90.928884
2,2010,3635,41007,8.142556,91.857444
3,2011,4213,40704,9.379522,90.620478
4,2012,3013,42108,6.677600,93.322400
5,2013,4215,43673,8.801788,91.198212
6,2014,2814,46295,5.730111,94.269889

In [6]:
#(3)
max_vacant_houses = max(house[house['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
vacant_houses
max_occuped_houses = max(house[house['title_field'] == 'Occupied Housing Units'].value)
occuped_houses = occuped_houses[occuped_houses['value'] == max_occuped_houses]
occuped_houses

   year             title_field  value
2  2014  Occupied Housing Units  46295

In [7]:
#(4)
print(statistics.harmonic_mean(list(house[house['title_field'] == 'Total Housing Units'].value)))

44398.28543969185